* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}
.bg-rosa {
    background-color: #fff2ee;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1600px;
    /* da rimuovere */
    height: 600px;
}

.fisso {
    height: 80px;
    width: 100%;
    background-color: #f5f8fa;
    border-bottom: 1px solid black;
    position: fixed;
}

.english {
    width: 100px;
    border-right: 1px solid #cbd6e2;
    text-align: center;
    float: left;
    margin-left: 150px;
}

.Contact {
    float: left;
    text-align: center;
    margin: 22px 15px;
}
.button {
    float: right;
    /* chiedere spiegazioni */
    line-height: 5;
    margin-right: 170px;

}

#login-button {
    background-color: #ffffff;
    border: 1px solid #ff9a82;
    color: #ff9a82;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px;
}
.btn-orange {
    color: white;
    background-color: #ff7a59;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}
