* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.bg-grey {
    background-color: #f5f8fa;
    border-bottom: 2px solid #e0e6ed;
}

.container-base {
    height: 85px;
    width: 100%;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.english {
    width: 100px;
    border-right: 3px solid #cbd6e2;
    text-align: center;
    float: left;
    display: ruby;
    margin-top: 30px;
}

.Contact {
    float: left;
    text-align: center;
    margin: 30px 15px;
}

.button {
    float: right;
    /* chiedere spiegazioni */
    line-height: 5;
    margin-right: 170px;
}
.fa-search {
    color: #00a4bd;
}

.btn-small {
    background-color: #ffffff;
    border: 1px solid #ff9a82;
    color: #ff9a82;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px;
}

.btn-large {
    color: white;
    background-color: #ff7a59;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}

.nav {
    background-color: #ffffff;
}

#logo {
    float: left;
    margin-top: 25px;
}
#navbar {
    margin-right: 80px;
}

#navbar li {
    float: right;
    list-style: none;
    margin-right: 90px;
    margin-top: 25px;
    color: #33475b;
}

a {
    color: #33475b;
    text-decoration: none;
}
.gray {
    background-color: #425b76;
}
.always {
    width: 60%;
    float: left;
    text-align: left;
    color: white;
    padding-top: 15px;
}

.learn {
    color: #667584;
    border: none;
}

h1{
    font-size: 50px;
}

p {
    margin-top: 10px;
}

.banner{
    height: 1000px;
    background-color: #fff5ef;
    background-image: url(../img/nuvole.jpeg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.jumbotron {
    width: 35%;
    margin-top: 40px;
    float: left;

}

.jumbotron h1 {
    color: #33475b;
}
.extra {
    width: 200px;
    height: 70px;
    font-size: 15px;
    margin-top: 20px;
}
